# Environment configuration files and folders
/.devenv/
/.devenv.flake.nix
/devenv.lock
/devenv.nix
/devenv.yaml
/.direnv/
/.envrc

!README.md

# macOS system file
.DS_Store

# VSCode editor settings
.vscode/

thesis.pdf